<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>Odyssey Dream Properties is a small business that owns rental properties in Northern Kentucky.  Our company is driven by a deep commitment to creating living spaces that are truly homes.  We believe a residence is more than just walls and a roof;  it is a haven where memories are made and lives are lived.  Our approach goes beyond the transactional aspect of renting;  we curate environments that foster a sense of belonging.  From cozy interiors to well-maintained landscapes, we prioritize the details that transform a property into a warm, inviting home. We listen to the needs of our tenants, ensuring their comfort and satisfaction.  Our dedication and personalized touch sets us apart, making every property under our care a place where residents genuinely feel at home.</p>
      </div>
    </div>
  </div>
</section>
